@font-face {
    font-family: 'Droid Sans';
    src: url(../fonts/droidsans.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "LiberationSansRegular";
    src: url("../fonts/LiberationSansRegular/LiberationSansRegular.eot");
    src: url("../fonts/LiberationSansRegular/LiberationSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LiberationSansRegular/LiberationSansRegular.woff") format("woff"),
    url("../fonts/LiberationSansRegular/LiberationSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "din";
    src: url("../fonts/dinpro/dinpro-regular.eot");
    src: url("../fonts/dinpro/dinpro-regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/dinpro/dinpro-regular.woff") format("woff"),
    url("../fonts/dinpro/dinpro-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

*{margin:0;padding:0;font-family: "din", "LiberationSansRegular",Arial;}
*,*::after,*::before{box-sizing:border-box;}
ul{list-style:none;padding-left:0;}
.clearfix:after{content:"";display:table;clear:both;}
.flex{display:-webkit-box;display:-ms-flexbox;display:flex;}

body {
  max-width: 1920px;
  overflow-x: hidden;
  padding-top: 90px;
}

header {
  position: relative;
  padding-bottom: 50px;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 22px;
}

.navigation {
  padding: 12px 0;
  background: #fff;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.navigation .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav-itm {
  position: relative;
}

.nav-itm .icon {
  position: absolute;
  left: -12px;
  top: 3px;
  -webkit-transition: .25s;
  transition: .25s;
}

.nav-itm:first-child.logo .link {
  padding-left: 0;
}

.nav-itm:first-child .link {
  padding-left: 25px;
}

.nav-itm:last-child {
  margin-left: 5%;
}

.nav-itm:last-child .link {
  display: inline-block;
  font-style: italic;
  position: relative;
  z-index: 2;
}

.nav-itm .link:focus {
  color: #474747;
}

.nav-itm.current .link {
  color: #ff8500;
}

.nav-itm:last-child .link:first-child {
  padding-right: 5px;
  text-decoration: underline;
}

.nav-itm:last-child .link:last-child {
  padding-left: 2px;
}

.nav-itm .link {
  display: block;
  color: #474747;
  font-size: 16px;
  padding: 10px 12px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  white-space: nowrap;
}

.link:hover,
.link:focus {
  color: #f60;
  text-decoration: none;
}

.nav-itm .link .fa-sign-in {
  padding-left: 12px;
}

.head-reg {
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.head-reg .optimal {
  background: rgba(0, 0, 0, 0.44);
  padding: 40px 35px 30px 40px;
  width: 400px;
  margin: 0 auto;
}

.optimal .title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 15px;
}

.optimal .sub-title {
  color: #ff8500;
  font-size: 22px;
  margin-bottom: 15px;
}

.optimal .list .itm {
  color: #fff;
  margin-bottom: 8px;
  position: relative;
}

.optimal .list .itm::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 6px;
  width: 15px;
  height: 7px;
  background: #ff8500;
  -webkit-transform: skewX(-23deg);
          transform: skewX(-23deg);
}

.welcome {
  width: 285px;
}

.welcome .text {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 20px;
  padding: 8px 12px;
  font-weight: 600;
  text-align: center;
  border: 5px solid #ff8500;
  border-right: none;
  white-space: nowrap;
}

.welcome .text::after {
  content: '';
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 38px;
  height: 38px;
  border-top: 5px solid #ff8500;
  border-right: 5px solid #ff8500;
  top: 3px;
  right: -19px;
}

.round-check[type="checkbox"] {
  display: none;
}

.round-check[type="checkbox"]:checked + label.round-check::after {
  -webkit-transform: rotate(225deg) scale(1);
          transform: rotate(225deg) scale(1);
}

.round-check {
  display: block;
  padding-left: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
	cursor: pointer;
  font-size: 13px;
  color: #fff;
}

.round-check a {
  color: #fff;
  text-decoration: underline;
}

.round-check::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 8px;
  width: 15px;
  height: 15px;
  border: 2px solid #979797;
  background: #fff;
  border-radius: 50%;
}

.round-check::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  width: 6px;
  height: 14px;
  border-left: 1px solid #f60;
  border-top: 1px solid #f60;
  -webkit-transform: rotate(0deg) scale(0);
          transform: rotate(0deg) scale(0);
  -webkit-transition: .25s;
  transition: .25s;
}

.aboutYou {
  position: absolute;
  top: 0;
  right: 0;
  background: #feb209;
  width: 390px;
  padding: 20px 30px 40px;
}

.aboutYou::before {
  content: '';
  position: absolute;
  left: 0;
  pointer-events: none;
  top: -207px;
  border: 196px solid transparent;
  border-bottom: 11px solid #feb209;
  width: 100%;
}

.aboutYou .title {
  text-align: center;
  font-size: 24px;
  color: #005295;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.aboutYou input[type="text"] {
  padding: 7px 12px;
  font-size: 13px;
  width: 100%;
  margin-bottom: 7px;
  border: 1px solid #ffe57f;
}

.aboutYou input[type="text"]:last-of-type {
  margin-bottom: 14px;
}

.aboutYou .btn-blue {
  display: block;
  border: none;
  width: 290px;
  height: 60px;
  margin: 0 auto;
  background: url(../img/btn-blue.png) no-repeat;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(50, 50, 50, 1);
  padding: 16px 14px;
  padding-bottom: 7px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: .25s;
  transition: .25s;
}

.aboutYou .btn-blue.disabled {
  -webkit-filter: grayscale(0.75);
          filter: grayscale(0.75);
  cursor: default;
}

.aboutYou input.btn-blue {
  padding-top: 0;
}

.aboutYou input.btn-blue:focus {
  outline: none;
}

.aboutYou .btn-blue:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.aboutYou .shadow {
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
}

.head-reg .imgCut {
  position: absolute;
  top: 0;
  left: -35px;
  overflow: hidden;
  height: 100%;
}

.head-reg .chel {
  position: relative;;
  height: 100%;
  top: 35px;
  left: 0;

}

.bewinner > .title,
.about .wrap > .title,
.contacts .wrap > .title {
  text-align: center;
  padding-top: 16px;
  font-size: 32px;
  text-transform: uppercase;
  color: #474747;
}

.bewinner .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 28px;
  margin-bottom: 32px;
}

.bewinner .list .itm img {
  margin-bottom: 22px;
}

.bewinner .list .itm .title,
.bewinner .list .itm .text {
  text-align: center;
}

.bewinner .list .itm .title {
  color: #ff8500;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.bewinner .list .itm .text {
  font-weight: 600;
}

.bewinner .disclaim {
  margin-bottom: 12px;
}

.prize {
  padding-top: 55px;
  background: url("../img/bg2.png") bottom no-repeat;
}

.prize .title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.prize .contest {
  padding: 38px 55px;
  background: rgba(0, 82, 149, 0.4);
}

.prize .contest .title {
  color: #ff8500;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}

.prize .contest .block {
  border: 5px solid #ff8500;
  padding: 9px 35px;
  padding-left: 45px;
  margin-bottom: 45px;
  display: inline-block;
  width: 45%;
  vertical-align: top;
  height: 165px;
  position: relative;
}

.prize .contest .block:first-of-type {
  margin-right: 5%;
}

.prize .contest .block .title {
  text-align: left;
  color: #fff;
  text-transform: none;
  position: relative;
  font-size: 19px;
}

.prize .contest .block .title::before {
  content: '';
  position: absolute;
  left: -28px;
  top: 10px;
  width: 15px;
  height: 7px;
  background: #ff8500;
  -webkit-transform: skewX(-23deg);
          transform: skewX(-23deg);
}

.prize .contest .block .title b {
  color: #ff8500;
}

.prize .contest .block .text {
  padding: 0px 35px;
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 15px;
  vertical-align: top;
  color: #fff;
  height: 50px;
}

.prize .contest .btn-orange {
  display: block;
  width: 290px;
  height: 60px;
  margin: 0 auto;
  border: none;
  background: url(../img/btn-orange.png) no-repeat;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(50, 50, 50, 1);
  padding: 16px 14px;
  padding-bottom: 7px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: .25s;
  transition: .25s;
  text-decoration: none;
}

.prize .contest .btn-orange:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
    text-decoration: none;
}

.about {
  padding: 30px 0;
}

.about .wrap > .title {
  margin-bottom: 35px;
}

.about .contain {
  background: url("../img/bg3.png") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 25px;
}

.about .contain .left,
.about .contain .right {
  background: #ebebeb;
  border: 1px solid #dedede;
  padding: 30px 45px;
  padding-bottom: 45px;
  -ms-flex-preferred-size: 37%;
      flex-basis: 37%;
  margin-bottom: 10px;
  position: relative;
  top: -15px;
}

.about .contain .left .title,
.about .contain .right .title {
  text-align: center;
  color: #474747;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 20px;
}

.about .contain .left .title {
  margin-bottom: 40px;
}

.about .contain .left .text {
  color: #5aade0;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.about .contain .left .shadow,
.about .contain .right .shadow {
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 100%;
}

.about .contain .right .itm {
  font-size: 17px;
  line-height: 16px;
  margin-bottom: 12px;
  position: relative;
  padding-left: 6px;
}

.about .contain .right .itm::before {
  content: "";
  height: 17px;
  width: 14px;
  background: url("../img/check.png");
  position: absolute;
  left: -24px;
  top: -3px;
}

.bewinner .disclaim,
.about .disclaim {
  text-align: center;
  font-size: 16px;
  color: #474747;
}

.contacts {
  padding: 40px 0;
  background: url("../img/bg4.png") no-repeat;
}

.contacts .title {
  margin-bottom: 30px;
}

.contacts .list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts .list .itm {
  color: #474747;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding-top: 8px;
  position: relative;
}

.subscribe {
  background: url("../img/bg5.png");
  padding: 50px 0;
}

.subscribe .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe .contain .text,
.subscribe .contain .form {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.subscribe .contain .text {
  font-size: 15px;
}

.subscribe .textbox {
  border: 2px solid #2c568b;
  overflow: hidden;
  border-radius: 20px;
  background: #fff;
  padding-left: 20px;
  box-shadow: 0px 0px 0px 4px rgba(90,173,224,0.50);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe .textbox input[type="text"] {
  width: 60%;
  border: none;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.subscribe .textbox input[type="text"]:focus {
  outline: none;
}

.subscribe .textbox .btn {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  background: -webkit-linear-gradient(top, #55a6da 0%,#3e85bb 25%,#236099 50%,#236099 50%,#0e437d 76%,#02326e 100%);
  background: linear-gradient(to bottom, #55a6da 0%,#3e85bb 25%,#236099 50%,#236099 50%,#0e437d 76%,#02326e 100%);
  -webkit-transition: .25s;
  transition: .25s;
}

.subscribe .textbox .btn:hover {
  box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.75);
}

footer {
  background-color: #005295;
  padding: 18px 0;
}

footer .logo {
  float: left;
}

footer .title {
  color: #fff;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  padding-top: 4px;
}

/******************************/
.kz {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    -webkit-transition: .25s;
    transition: .25s;
}

.kz-sprite1 {
    width: 58px;
    height: 56px;
    background-position: -2px -2px;
}

.kz-sprite2 {
    width: 34px;
    height: 62px;
    background-position: -64px -2px;
}

.kz-sprite3 {
    width: 40px;
    height: 63px;
    background-position: -102px -2px;
}

.kz-sprite4 {
    width: 57px;
    height: 57px;
    background-position: -146px -2px;
}
/*********************************/

.nav-itm:first-child.logo .link img {-webkit-transition: .25s;transition: .25s;}

@media (max-width: 1200px) {
  .aboutYou .shadow {
    display: none;
  }

  .head-reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .head-reg .imgCut {
    display: none;
  }

  .head-reg .optimal {
    width: auto;
    margin: 0;
  }

  .aboutYou {
    position: static;
  }

  .aboutYou::before {
    border: 0;
  }

  .bewinner .list .itm {
    margin-bottom: 10px;
  }

  .prize .contest .block:first-of-type {
    margin-right: 0;
  }

  .prize .contest .block {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 60%;
  }

  .prize {
    padding-top: 20px;
    background-size: cover;
    background-attachment: fixed;
  }

  .about .contain {
    background-position: center;
  }

  .about .contain .left,
  .about .contain .right {
    top: 0;
  }

}

@media (max-width: 1000px) {

  body {
    padding-top: 70px;
  }

  .nav-itm:first-child.logo .link img {
    width: 65px;
  }

  .nav-itm .link {
    padding: 10px 6px;
  }

  .nav-itm:last-child {
    margin-left: 2%;
  }

  .nav-itm .icon {
    opacity: 0;
    visibility: hidden;
  }

  .prize .contest .block .title {
  font-size: 16px;
  }

  .prize .contest .block .text {
    bottom: 20px;
  }

  .about .contain .left,
  .about .contain .right {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }

  .subscribe .contain {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

    .subscribe .contain .text {
      margin-bottom: 12px;
    }

  .subscribe .contain .text,
  .subscribe .contain .form {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
  }

  .subscribe {
    padding: 28px 0;
  }
}

@media (max-width: 800px) {
  .hamburg {
    display: block;
    cursor: pointer;
    padding: 0 10px;
    margin-left: auto;
  }

  .hamburg span,
  .hamburg span::before,
  .hamburg span::after {
    display: block;
    text-align: center;
    width: 25px;
    height: 5px;
    background: #474747;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
  }

  .hamburg span {
    position: relative;
    margin: 20px auto 0;
  }

  .hamburg.is-active span {
    background: 0 0;
  }

  .hamburg.is-active span::before {
    -webkit-transform: translate(0,10px) rotate(-45deg);
    transform: translate(0,10px) rotate(-45deg);
  }

    .hamburg.is-active span::after {
      webkit-transform: translate(0,-10px) rotate(45deg);
      -webkit-transform: translate(0,-10px) rotate(45deg);
              transform: translate(0,-10px) rotate(45deg);
    }

  .hamburg span::before,
  .hamburg span::after {
    position: absolute;
    content: "";
  }

  .hamburg span::before {
    top: -10px;
  }

  .hamburg span::after {
    top: 10px;
  }

  .nav-list .nav-itm .link {
    padding-left: 0;
  }

  .navigation .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 0;
    min-height: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .nav-list.is-active {
    height: auto;
    min-height: 175px;
    max-height: 350px;
    opacity: 1;
    visibility: visible;
  }

  .nav-list .nav-itm .link {
    font-size: 0px;
  }

  .nav-list.is-active .nav-itm .link {
    font-size: 18px;
  }

  .prize .contest .block {
    width: 90%;
  }

}

@media (max-width: 768px) {
  header {
    padding-bottom: 20px;
  }

  .head-reg {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .aboutYou {
    width: auto;
    padding-bottom: 12px;
  }

  .bewinner > .title,
  .about .wrap > .title,
  .contacts .wrap > .title,
  .prize .title {
    font-size: 25px;
    padding-top: 2px;
  }

  .prize,
  .contacts {
    padding-top: 20px;
  }

  .contacts {
    background-size: cover;
    background-attachment: fixed;
  }

  .head-reg .optimal {
    padding-top: 10px;
  }


}

@media (max-width: 650px) {
  .prize .contest .block {
    border: none;
    padding: 0;
    margin-bottom: 12px;
    height: auto;
  }
  .prize .title {
    margin-bottom: 10px;
  }

  .prize .contest .block .text {
    position: static;
    height: auto;
    padding: 0;
  }

  .prize .contest {
    padding: 12px 32px;
  }

  .prize .contest .title {
    font-size: 18px;
  }

  .about .contain {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 5px;
  }

  .bewinner .disclaim,
  .about .disclaim {
    font-size: 13px;
  }

  .about .contain .left,
  .about .contain .right {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .about .contain .left .title {
    margin-bottom: 25px;
  }

  .about .contain .left .shadow,
  .about .contain .right .shadow {
    display: none;
  }

  .contacts .list .itm {
    margin-bottom: 15px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-size: 14px;
  }

  .about .wrap > .title,
  .contacts .wrap > .title {
    margin-bottom: 15px;
  }

  .kz {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 440px) {
  .optimal .title {
    font-size: 22px;
  }

  .optimal .sub-title {
    font-size: 18px;
  }

  .aboutYou .title {
    font-size: 22px;
  }

  .welcome .text {
    font-size: 14px;
    padding: 8px;
  }

  .welcome .text::after {
    width: 32px;
    height: 32px;
    top: 2px;
    right: -16px;
  }

  .welcome {
    width: auto;
  }

  .aboutYou .btn-blue,
  .prize .contest .btn-orange {
    width: 175px;
    height: 40px;
    font-size: 13px;
    padding: 9px 14px;
    background-size: 175px;
  }

  .about .contain .left,
  .about .contain .right {
    padding: 30px 32px;
  }

  .subscribe .textbox .btn {
    font-size: 12px;
    padding: 10px 8px;
  }

  .subscribe .textbox {
    padding-left: 8px;
  }

  .subscribe .textbox input[type="text"] {
    font-size: 12px;
  }

  .subscribe .contain .text br {
    display: none;
  }
}
